// Header size
$headerSize: 4.28em;

// Profile sidebar size on profile page
$profileSidebarSize: 20%;

// Border size
$borderSize: .05em;

// Shadow size
$shadowSize: .05em;

// Headers text size
$h1Size: 1.3em;
$h2Size: 1.2em;

// Small fonts
$smallFont: .8em;

// Default padding's size's
$padding: .5em;
$padding2: 1em;

// Avatar and cover size on profile page
$coverSize: 11.5em;

// Avatar size and position
$avatarWSize: 14.5em;
$avatarHSize: 14.5em;

//Sidebar width size
$sidebarSize: 22.3em;

// Position of avatar
$positionAvatar: $padding2 * 7;

// Post's width size
$postSize: 40%;

// Call the default font
$font: 'Roboto', sans-serif;